/* 
    header.css

    CS 4920 Senior Project - Spring 2022
    Instructor: Taeghyun Kang
    Team: LAW.DAT
        Tyler Anderson
        De-Shian Lin
        Jacob Nicholson
        Aaron Westhoff
    
    Charter and Go Project
    Flight Risk Assessment Tool
    

    This style sheet is for
        components/Header.js
        detail_components/Detail_Header.js
*/

/* This it the outmost for the header form */
.header-form {
    /* make the content to the center */
    margin-left: 3.5%;
    margin-right: 3.5%;
    width: 93%;
}

/* form-block (in Header.js, it includes lable and element) */
.form-block {
    /* this will make the block line up each after */
    display: inline-block;

    /* set relative position as a container for absolute position items inside to be able to line up with it */
    position: relative;

    /* spaces */
    margin: 1.5em;

    /* width and height */
    width: 200px;
    height: 3em;
}

/* form-block (in Detail_Header.js, it includes lable and element) */
.form-block-detail {
    /* this will make the block line up each after */
    display: inline-block;

    /* set relative position as a container for absolute position items inside to be able to line up with it */
    position: relative;

    /* spaces */
    margin: 1.5em;

    /* width and height */
    width: 324px;
    height: 3em;
}

/* label */
.label-element {
    /* width 100% for the user to be able reach the input easier */
    /* (when the user click on <label> with for="" attribute, it will lead focus to input) */
    width: 100%;

    /* smaller font and bold */
    font-size: smaller;
    font-weight: 700;

    /* set the position to absolute so it can line up to other element (form-block) */
    position: absolute;
    /* adjust precisely to the form-block */
    top: 4px;
    left: 8.5px;

    /* transition makes it look smoothly when transition happens */
    transition: transform .35s;

    /* default hidden (come out when user hover or ipunt) */
    visibility: hidden;
    
    /* text color: Charter and Go logo's CH RTER blue */
    color: #273c50;
}

/* when the input inside the form-block is on foucus, .label-element will takes the effects */
.form-block:focus-within .label-element,
.form-block-detail:focus-within .label-element {
    /* show up */
    visibility: visible;
    /* bigger and also come form the bottom (since the lable is put after the input field in Header.js) */
    transform: scale(1.05) translateY(-25px);
}

/* when the input-element have input, but not on focus, , the same level element .label-element will takes the effects */
.input-element:valid:not(:focus) + .label-element {
    /* still showing */
    visibility: visible;
    /* keep at the same position */
    transform: translateY(-25px);
}

/* when the input-element have input, and it's on hover, the same level element .label-element will takes the effects */
.input-element:valid:hover + .label-element {
    /* still showing */
    visibility: visible;
    /* bigger and keep at the same position */
    transform: scale(1.05) translateY(-25px);
}

/* input */
.input-element {
    /* width and height 100% to fill up the .form-block */
    width: 100%;
    height: 100%;

    /* padding to inside */
    padding: .5em;

    /* no border */
    border: 0;

    /* rounded corners */
    border-radius: 5px;
    
    /* transition makes it look smoothly when transition happens */
    transition: .35s;

    /* shadow */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

/* when input-element is on hover */
.input-element:hover {
    /* make it bigger */
    transform: scale(1.05);

    /* larger shadow make it looks like flowing up  */
    box-shadow: 4px 4px 8px rgb(0, 0, 0, .3);
}

/* when input-element is on focus */
.input-element:focus {
    /* cover the default browser focus outline effect. line color: Charter and Go logo's CH RTER blue */
    outline: 1.5px solid #273c50;

    /* keep it bigger */
    transform: scale(1.05);

    /* keep the larger shadow */
    box-shadow: 4px 4px 8px rgb(0, 0, 0, .3);
}

/* when input-element is on focus, the placeholder text */
.input-element:focus::placeholder {
    /* make it disappear */
    color: transparent;
}

/* input-element with disabled attribute */
.input-element:disabled {
    /* gray out the background. color from the background of the InVision file that Charter and Go provided */
    background-color: #eee;
}

/* show the label for input-element with disabled attribute */
.input-element:disabled + .label-element {
    /* still showing */
    visibility: visible;
    /* keep at the same position */
    transform: translateY(-25px);
}

/* input-element with disabled attribute on hover */
.input-element:disabled:hover {
    /* don't make it larger and keep the shadow same */
    transform: scale(1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
